
<!-- Disclaimer: This pen is just a fun project based on a fictional character for freeCodeCamp and not in any form associated with the movie Her and Warner Bros. -->



<main class="container">
  <section class="hero container">
    <h1 class="hero-title-primary">INTEGRASI SISTEM INFORMASI AKADEMIK</h1>
    <p class="hero-title-sub">DENGAN BLOCKCHAIN HYPERLEDGER FABRIC</p>

    <%# <button>Try For Free</button> %>
  </section>
  <div class="hero-image">
    <img src="/assets/demo.png" style="width:700px" />
  </div>

</main>
<!--Header ends-->

<!--Content starts-->
<section class="video-content" style="display:none;">

  <div class="video-story">
    <h1 class="video-title">See in Action</h1>
    <p class="video-subtitle">Story of Theodore</p>
    <div class='embed-container'>
      <iframe id="video" src="https://www.youtube-nocookie.com/embed/ne6p6MfLBxc" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="three-dots">
    <span></span>
    <span></span>
    <span></span>
  </div>

</section>
<section class="subscribe-container" style="">
  <div class="hero-newsletter">
    <h2>Login Sebagai</h2>
  </div>

  <div class="form-container">

        <ul class="">
        <% @users.each do |user| %>
          <% user_type = user.is_admin? ? 'admin' : user.userable_type %>
          <li><a href="/admin/login?email=<%= user.email %>"><%= user_type %> <%= user.userable.name %></a></li>
        <% end %>
        </ul>


  </div>
</section>
<section class="content" style="display:none;">
  <div class="inner-content">
    <div class="inner-content-text content__TextRight">
      <div id="features" class="inter-content-subtitle">
        Features
      </div>

      <div class="inner-content-title">
        Built with Thousands of in-built tasks for you to choose from
      </div>

      <div class="inner-content-para">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacinia ex. Pellentesque et augue
          interdum, efficitur neque a, convallis odio. Aenean pellentesque nunc mattis nunc tincidunt fermentum vitae
          quis quam. Duis scelerisque lectus
          quis tellus volutpat, a volutpat est placerat. Aliquam cursus quam at aliquet vestibulum. Mauris pellentesque
          lorem eget facilisis porttitor. Etiam ac gravida nibh, at vestibulum libero.</p>
      </div>
    </div>

    <div class="inner-image-container container__ImageLeft">
      <div class="inner-content-image content__ImageLeft">
        <img class="section-images"
          src="/assets/demo.png"
          style="object-position: 50% 50%;">
      </div>
    </div>
  </div>

</section>

<section class="pricing-container" style="display:none;">
  <div id="pricing" class="pricing-title">
    <h2>Pricing</h2>
  </div>

  <div class="flex-container">
    <div class="flex-item">
      <ul class="package">
        <li class="header">Self-hosted</li>
        <li class="gray"><sup class="dolla">$</sup>0<br><span class="month">Per Month<span></li>
        <li class="features first-feat">Unlimited Updates</li>
        <li class="features">100GB Storage</li>
        <li class="features">Limited API Quota</li>
        <li class="features last-feat">Limited Support</li>
        <li>
          <button class="pricing-button">Choose Free</button>
        </li>
      </ul>
    </div>
    <div class="flex-item">
      <ul class="package">
        <li class="header">Pro</li>
        <li class="gray"><sup class="dolla">$</sup>89<br><span class="month">Per Month<span></li>
        <li class="features first-feat">Unlimited Updates</li>
        <li class="features">100TB Storage</li>
        <li class="features">Unlimited API Usage</li>
        <li class="features">Advance Support</li>
        <li>
          <button class="pricing-button">Choose Pro</button>
        </li>
      </ul>
    </div>
    <div class="flex-item">
      <ul class="package">
        <li class="header">Enterprise</li>
        <li class="gray"><sup class="dolla">$</sup>799<br><span class="month">Per Month<span></li>
        <li class="features first-feat">Priority Updates</li>
        <li class="features">Unlimited Storage</li>
        <li class="features">Team Features</li>
        <li class="features">Priority Support</li>
        <li>
          <button class="pricing-button">Choose Enterprise</button>
        </li>
      </ul>
    </div>
  </div>
</section>


<!--Content ends-->
<%# https://codepen.io/arslanastral/pen/RwbEGMY %>